
@import url("https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Bungee+Hairline");

#header {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 31px;
  border-bottom: 5px solid #2F4F4F;
  background-color: #66CCCC;
  z-index: 0;
}

#image {
 margin-top: 15px; 
  
}

nav {
  font-family: 'Open Sans Condensed', sans-serif;
  position: absolute;
  top: -17.5px;
  left: 40px;
  z-index: 20;    
}

nav ul ul {
  display: none;
}

nav ul li:hover > ul {
  display: block;
}

nav ul {
  background: #66CCCC; 
  padding: 0 0px; 
  list-style: none;
  position: relative;
  display: inline-table;
}

nav ul:after {
  content: ""; clear: both; display: block;
}

nav ul li {
  float: left;
}


nav ul li a {
  color: black;
  display: block;
  padding: 5px 5px;
  text-decoration: none;
}

body {
  background-color: #000000;
  font-family: 'Bungee Hairline', sans-serif;
  color: #ff3300;
  background-image: background1.png;
}

#title1 {
  position: absolute;
  top: 260px;
  left: 30%;
  z-index: 1;
}

#title2 {
  position: absolute;
  top: 860px;
  left: 16%;
  z-index: 1;
}

#img1 {
  position: absolute;
  width: 100%;
  z-index: -1;
  left: 0px;
}

#img2 {
  margin-top: 30px;
  position: absolute;
  width: 100%;
  z-index: -1;
  left: 0px;
  top: 600px;
}

#img_twitter {
  
}

#img_github {
  
}
